# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
# Binaries for the Linux build.
bin/splic
bin/splil
bin/splis

# Splis libraries and binaries.
*.splis.lib
*.splis.bin

# Noodles binaries.
*.nob

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

debug
